<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.dao.AUTOFLOOR_BYMWDMapper" >
  <resultMap id="BaseResultMap" type="com.shop.model.AUTOFLOOR_BYMWD" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="T_MONTH" property="tMonth" jdbcType="VARCHAR" />
    <result column="T_REMARK" property="tRemark" jdbcType="VARCHAR" />
    <result column="T_MARK" property="tMark" jdbcType="VARCHAR" />
    <result column="START_DATE" property="startDate" jdbcType="TIMESTAMP" />
    <result column="END_DATE" property="endDate" jdbcType="TIMESTAMP" />
    <result column="FLAG" property="flag" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, T_MONTH, T_REMARK, T_MARK, START_DATE, END_DATE, FLAG
  </sql>
  <!--//日期查詢ID-->
  <select id="SelectBYMWDByID" resultType="integer" >
    select ID from AUTOFLOOR_BYMWD where  T_MARK=#{T_MARK} and FLAG=1
  </select>
  <!--//Id查詢所有月數據-->
  <select id="SelectBYMWDMList" resultMap="BaseResultMap" >
    <![CDATA[
    select * from AUTOFLOOR_BYMWD
    where ID<='${T_Id}'
    and FLAG=1
    ]]>
  </select>
  <!--//Id查詢所有周數據-->
  <select id="SelectBYMWDWList" resultMap="BaseResultMap" >
    <![CDATA[
    select * from AUTOFLOOR_BYMWD
    where ID>'${W_Id}'
    and ID<='${D_Id}'
    and FLAG=1
    ]]>
  </select>

</mapper>